<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head> 
    <body>
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">Atro</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem;">

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form2Example18" class="form-control form-control-lg" />
              <label class="form-label" for="form2Example18">Username</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="form2Example28" class="form-control form-control-lg" />
              <label class="form-label" for="form2Example28">Password</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form2Example281" class="form-control form-control-lg" />
              <label class="form-label" for="form2Example281">class ID</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form2Example282" class="form-control form-control-lg" />
              <label class="form-label" for="form2Example282">class ABC</label>
            </div>
            

            <div class="pt-1 mb-4">
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" type="button">Login</button>
            </div>

            <!-- <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p> -->
            <p>Don't have an account? <a href="#!" class="link-info">Register here</a></p>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
<script>
    const username = document.getElementById("form2Example18");
    const password = document.getElementById("form2Example28");
    const classId = document.getElementById("form2Example281");
    const classAbc = document.getElementById("form2Example282");
    const loginButton = document.querySelector(".btn-info");
    loginButton.addEventListener("click", () => {
        const usernameValue = username.value;
        const passwordValue = password.value;

        fetch("http://localhost:8000/v1/login/",{
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: usernameValue,
                password: passwordValue,
                classId: classId.value,
                ClassABC: classAbc.value
            })
        }).then(response => {
            if (response.ok) {
                const responseJson = response.json();
                const refresh = responseJson.data.refresh;
                const access = responseJson.data.access;
                const id = responseJson.data.id;
                localStorage.setItem("refresh", refresh);
                localStorage.setItem("access", access);
                localStorage.setItem("id", id);
                if(responseJson.data.teacher){
                    localStorage.setItem("teacher", true);
                    window.location.href="/chat/" + classId.value + "/" + classAbc.value; // بعد مامسوي له endpoint بي جفا 

                    
                } else {
                    localStorage.setItem("teacher", false);
                     window.location.href = "/home";
                }
                // نحفضه بي متصفح توكنز


               
                // مشروع كبير قسم كلش كبير
            } else {
                alert("Login failed. Please check your credentials.");
            }   
        }).catch(error => {
            // console.error("Error during login:", error);
            alert("An error occurred. Please try again later.");
        });
    });
    const registerLink = document.querySelector(".link-info");
    registerLink.addEventListener("click", () => {
        window.location.href = "/register/";
    });

</script>
</body>
</html>
